@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-inter: ui-sans-serif;
    --font-geist: ui-sans-serif;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Votre body hérite déjà de Inter via inter.className */
/* ciblez p et utilisez la variable de Geist */

p {
    font-family: var(--font-geist), var(--font-inter), ui-sans-serif, system-ui,
    -apple-system, Segoe UI, Roboto, Arial, Noto Sans, "Apple Color Emoji",
    "Segoe UI Emoji";
}