.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.geistText {
    font-family: var(--font-geist), var(--font-inter), system-ui, Arial;
}